.git
.gitignore
.github
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
.tox
.coverage
.coverage.*
.cache
.mypy_cache
.pytest_cache
.hypothesis
.idea
.vscode
apple-spyder.iml
colima.yaml
.DS_Store
*.log
pip-log.txt
pip-delete-this-directory.txt
config/config.yaml
data/*.db
